/*style.css*/
body {
    background-color: rgb(14, 106, 181);
    color:rgb(52, 119, 174)
    font-family="Helvetica","Arial",sans-serif;
    font-size : 1.3em
}
a {
    color:rgb(218, 68, 68)
}

.gallery {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em;
}

.rounded {
    border-radius: 15px;
}

.gallery img {
    margin-right: 0.2em;
    width: 150px;
}